* {
  margin: 0px;
  padding: 0px;
}

body {
  overflow-x: hidden;
  /* background-color: black; */
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
}


.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(46, 45, 45);
  border-bottom: 2px solid rgb(136, 122, 122);

}

.logo {
  width: 75px;
  height: 55px;
}

.center_nav_h {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 450px;
}

.center_nav_h_home {
  color: rgb(238, 182, 79);
}

.center_nav_h_home:hover {
  color: red;
  cursor: pointer;
}

.h_c {
  color: white;
}

.h_c:hover {
  color: red;
  cursor: pointer;
}

.right_nav_button {
  display: flex;
  margin-left: 40px;
  align-items: center;
  flex-basis: 200px;
  justify-content: space-evenly;
  height: 70px;
}

.login_h {
  font-size: 17px;
  color: white;
}

.signup_btn {
  height: 35px;
  font-size: 15px;
  padding: 7px 17px;
  color: white;
  background-color: rgb(238, 182, 79);
}

/* start section first */
.first_section {
  background-image: url('https://www.tintandorange.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero-bg.58665629.png&w=1920&q=100');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 598px;

}

.center_text {
  color: white;
  display: flex;
  flex-direction: column;
  height: 150px;
  align-items: center;
  justify-content: center;
}

.s {
  font-size: 20px;
  color: gray;
}

.longer {
  font-size: 75px;
}

.car {
  position: absolute;
  top: 175px;
  width: 1200px;
}

/* second section */
.second_section {
  background-image: url(https://media.contentapi.ea.com/content/dam/eacom/en-us/migrated-images/2017/06/hero-medium-ea-hero-frostbite-m.jpg.adapt.crop2x1.1023w.jpg);
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}

.second_section_heading {
  color: white;
  margin-top: 40px;
}

.second_section_para {
  color: gray;
  font-size: 20px;
  text-align: center;
}

.second_section_rating_box {
  display: flex;
  border: 2px solid rgba(255, 251, 251, 0);
  align-items: center;
  width: 800px;
  height: 130px;
  background: rgba(255, 251, 251, 0.068);
}

.box1,
.box2,
.box3 {
  text-align: center;
  padding-top: 5px;
  border-right: 2px solid gray;
  color: white;
  width: 290px;
  height: 90px;
}

/* third section */
.third_section {
  width: 100%;
  height: 600px;
  background-color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.third_section_img_div {
  display: flex;
  justify-content: end;
}

.card_with_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_heading_div {
  color: white;
  display: flex;
  align-items: center;
  width: 1200px;
  position: absolute;
  top: 80px;
}

.card_heading {
  width: 900px;
  font-size: 19px;
}

.learn_more_btn {
  font-size: 20px;
  padding: 5px 10px;
  margin-right: 100px;
  background-color: orange;
  color: white;
}

.card {
  width: 1250px;
  height: 350px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  top: 190px;
}

.child_card {
  width: 340px;
  height: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 25px;
  background: rgba(255, 251, 251, 0.068);

}

.child_card:hover {
  background-color: orange;
  cursor: pointer;
}

.card_i {
  font-size: 35px;
}

.child_card_heading {
  font-size: 35px;
  color: grey;
}

.card_para {
  font-size: 20px;
}

/*four section  */
.four_section {
  height: 660px;
  background-color: rgb(13, 15, 15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.four_section_heading_para_div {
  display: flex;
  width: 1250px;
  height: 120px;
  padding-top: 40px;
  justify-content: space-evenly;
}

.four_section_heading {
  font-size: 20px;
  width: 400px;
  color: white;
}

.four_section_para {
  font-size: 19px;
  color: gray;
  width: 600px;
}

.four_section_para_learnmore {
  padding-top: 10px;
  color: white;
}

.four_section_para_learnmore:hover {
  cursor: pointer;
}

.four_section_img {
  width: 1150px;
}

/* five section */
.five_section {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}

.about_us {
  color: white;
  height: 200px;
}

.five_section_car {
  width: 800px;
}

.five_section_heading {
  font-size: 30px;
}

.five_section_para {
  margin-top: 13px;
  margin-bottom: 30px;
  color: gray;
}

.five_section_btn {
  padding: 8px 20px;
  font-size: 15px;
  background-color: orange;
  color: white;
}

.five_section_btn:hover {
  background-color: black;
  color: red;
  border: 2px solid red;
}

/* six section */
.six_section {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(0, 0, 0);
}

.six_section_heading_para_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.six_section_heading {
  color: white;
  font-size: 35px;
}

.six_section_para {
  color: gray;
  font-size: 19px;
}

.six_section_card_div {
  display: flex;
}

.six_section_card {
  width: 350px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  padding: 2px 20px;
}

.card1_box {
  background-color: rgb(105, 67, 105);
}

.card2_box {
  background-color: rgb(75, 49, 75);
}

.six_section_card_para {
  color: gray;
}

.six_section_card_img_div {
  width: 280px;
  height: 270px;
}

.six_section_card_img {
  width: 275px;
}

/* seven section */
.seven_section {
  width: 100%;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
}

.seven_section_heading {
  color: white;
  font-size: 30px;
}

.seven_section_img {
  width: 1000px;
}

/* eight_section */
.eight_section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 420px;
  background-color: rgba(14, 13, 13, 0.972);
}

.eight_section_heading_para_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 19px;
  color: white;
  height: 70px;
}

.eight_section_para {
  color: gray;
}

.eight_section_main_img_div {
  display: flex;
  justify-content: space-evenly;
  width: 1200px;
}

.eight_section_img_center {
  width: 450px;
}

.eight_section_img1 {
  width: 345px;
  padding-top: 8px;
}

/* nine section */

.nine_section {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  padding-top: 40px;
  height: 430px;
}

.nine_section_reply_contect_main_div {
  border: 2px solid black;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.nine_section_reply_div_heading {
  color: white;
  font-size: 30px;
}

.nine_section_reply_para {
  color: gray;
}

.nine_section_contect_div {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.nine_section_contect_heading {
  color: red;
  font-size: 30px;
}

.nine_section_contect_para {
  color: gray;
}



form {
  border: 2px solid black;
  width: 480px;
  padding-left: 20px;
  padding-top: 15px;
  height: 390px;
  background-color: rgb(36, 34, 34);
  color: gray;
}

label {
  font-size: 20px;
}

#uname {
  width: 445px;
  height: 30px;
}

#num {
  width: 210px;
  height: 25px;
}

form input,
select,
textarea {
  background-color: black;
}

form input:hover {
  border: 2px solid red;
}

form select:hover {
  border: 2px solid red;
}

form textarea:hover {
  border: 2px solid red;
}

form select {
  color: white;
}

.form_btn {
  margin-top: 20px;
  padding: 5px 10px;
  background-color: orange;
  color: white;
  border: 2px solid rgb(36, 34, 34);
}

.form_btn:hover {
  border: 2px solid red;
  background-color: black;
  color: red;
}

.first_select_main_div {
  display: flex;
  margin: 10px 0px;
}

.select_child_first {
  margin-right: 15px;
}

.second_select_main_div {
  display: flex;
  margin: 10px 0px;
}

.select_child_third {
  margin-right: 15px;
}


/* footer */
footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 470px;
}

.main_first_footer {
  display: flex;
  width: 1100px;
  justify-content: space-between;
  height: 230px;
  border-bottom: 2px solid gray;
}

.footer_child1_div {
  width: 400px;
  color: white;
}

.footer_logo {
  margin-bottom: 10px;
}

.footer_child2 {
  color: white;
  width: 200px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer_child3 {
  color: white;
  width: 200px;
  display: flex;
  font-size: 15px;
  flex-direction: column;
  justify-content: space-around;
  height: 110px;
}

.footer_child4 {
  color: white;
  width: 200px;
  font-size: 16px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer_heading {
  color: palevioletred;
}

.footer_para:hover {
  cursor: pointer;
  color: red;
}

.footer_child2_first_img_content,
.footer_child2_second_img_content {
  display: flex;
  font-size: 15px;
}

.footer_img {
  margin-right: 8px;
}

.footer_copyright_heading {
  color: white;
}